header {
  display: block; }

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #555;
  /*border-right: 5px solid green;
  border-bottom: 5px solid red;*/
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.navbar-center {
  text-align: center;
  display: block;
  width: 100%;
}

#mainNav {
  position: absolute;
  background: #212b34;
  width: 100px;
  bottom: 20px;
  left: 0;
  top: 50px;
  box-shadow: 0 0 0.3125rem #000;
  overflow: auto; }
  #mainNav::-webkit-scrollbar {
    width: 0.5rem; }
  #mainNav::-webkit-scrollbar-track {
    background: #ededed;
    box-shadow: inset 0 0 0.0625rem #999; }
  #mainNav::-webkit-scrollbar-thumb {
    background: #4a4a4a; }

    .fa {
  font-size: 21px;
  text-align: center;
  vertical-align: top; }

  .tabs {
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: stretch;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap; }
  .tabs:not(:last-child) {
    margin-bottom: 1.5rem; }
  .tabs a {
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    color: #4a4a4a;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    vertical-align: top; }
    .tabs a:hover {
      border-bottom-color: #363636;
      color: #363636; }
  .tabs li {
    display: block; }
    .tabs li.is-active a {
      border-bottom-color: #b1a33e;
      color: #b1a33e; }
  .tabs ul {
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start; }
    .tabs ul.is-left {
      padding-right: 0.75em; }
    .tabs ul.is-center {
      flex: none;
      justify-content: center;
      padding-left: 0.75em;
      padding-right: 0.75em; }
    .tabs ul.is-right {
      justify-content: flex-end;
      padding-left: 0.75em; }
  .tabs .icon:first-child {
    margin-right: 0.5em; }
  .tabs .icon:last-child {
    margin-left: 0.5em; }
  .tabs.is-centered ul {
    justify-content: center; }
  .tabs.is-right ul {
    justify-content: flex-end; }
  .tabs.is-boxed a {
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0; }
    .tabs.is-boxed a:hover {
      background-color: whitesmoke;
      border-bottom-color: #dbdbdb; }
  .tabs.is-boxed li.is-active a {
    background-color: white;
    border-color: #dbdbdb;
    border-bottom-color: transparent !important; }
  .tabs.is-fullwidth li {
    flex-grow: 1;
    flex-shrink: 0; }
  .tabs.is-toggle a {
    border: 1px solid #dbdbdb;
    margin-bottom: 0;
    position: relative; }
    .tabs.is-toggle a:hover {
      background-color: whitesmoke;
      border-color: #b5b5b5;
      z-index: 2; }
  .tabs.is-toggle li + li {
    margin-left: -1px; }
  .tabs.is-toggle li:first-child a {
    border-radius: 3px 0 0 3px; }
  .tabs.is-toggle li:last-child a {
    border-radius: 0 3px 3px 0; }
  .tabs.is-toggle li.is-active a {
    background-color: #b1a33e;
    border-color: #b1a33e;
    color: #fff;
    z-index: 1; }
  .tabs.is-toggle ul {
    border-bottom: none; }
  .tabs.is-small {
    font-size: 0.75rem; }
  .tabs.is-medium {
    font-size: 1.25rem; }
  .tabs.is-large {
    font-size: 1.5rem; }


    .tabs.has-block-icons a {
  font-size: 1rem;
  display: block;
  text-align: center; }

.tabs.has-block-icons .icon {
  display: block;
  text-align: center;
  width: auto;
  font-size: 175%;
  line-height: 1.2em;
  height: 1.2em; }

.tabs.is-vertical ul {
  display: block;
  border-bottom: none;
  margin-bottom: 0.125rem; }
  .tabs.is-vertical ul li + li {
    margin: 0; }
  .tabs.is-vertical ul a {
    text-align: center;
    border-bottom: none;
    position: relative;
    text-shadow: 0 0.0625rem 0 #000;
    color: #fff;
    padding: 0.75rem 0 0.75rem 0;
    font-size: 0.9rem;
    line-height: 1.2em; }
    .tabs.is-vertical ul a:after {
      content: " ";
      position: absolute;
      height: 1px;
      left: 0.625rem;
      right: 0.625rem;
      background: #222;
      box-shadow: 0 1px 0 #2d3a46;
      bottom: 0; }
    .tabs.is-vertical ul a:hover {
      background: rgba(255, 255, 255, 0.1); }
    .tabs.is-vertical ul a .icon .fa {
      font-size: inherit;
      line-height: inherit; }
  .tabs.is-vertical ul li.is-active a {
    color: #b1a33e;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 0.3125rem #000 inset; }
  .tabs.is-vertical ul li:last-child a:after {
    display: none; }

.tabs.is-boxed ul li a, .tabs.is-right ul li a {
  padding-top: 0.5rem;
  padding-bottom: 0.8rem; }


  #header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  border-color: #edeff2;
  box-shadow: 0 0 0.3125rem #000;
  padding: 0 1.25rem;
  background: #3a6b9f;
  height: 50px;
  max-height: 50px; }
  #header .logo-area {
    margin-left: -1.25rem; }
    #header .logo-area .logo-holder {
      background: #212b34;
      width: 100px;
      text-align: center; }
      #header .logo-area .logo-holder .logo {
        max-width: 56%;
        max-height: none; }
  #header .text {
    color: whitesmoke;
    text-shadow: 0 0.0625rem rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
    font-weight: bold; }
    #header .text small {
      text-transform: none;
      font-weight: normal; }
      #header .text small .tag {
        font-size: 0.9em;
        line-height: inherit;
        text-shadow: none;
        height: auto;
        margin-left: 0;
        margin-right: 0.0625rem;
        padding-left: 0.3125rem;
        padding-right: 0.3125rem;
        border-radius: 3px; }
    #header .text .image img {
      background: #fff;
      max-height: none;
      border-radius: 3px;
      border: 2px solid #fff;
      box-shadow: inset 0 0.125rem 0.1875rem rgba(10, 10, 10, 0.1), inset 0 0 0 0.0625rem rgba(10, 10, 10, 0.1); }
  #header .current-property-name {
    position: relative;
    font-weight: normal;
    font-size: 2rem;
    color: #fff; }
  #header .property-name-dropdown {
    padding-left: 0;
    padding-bottom: 1rem;
    align-items: flex-end; }
    #header .property-name-dropdown .dd-icon {
      position: relative;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 3px;
      line-height: 1em; }
    #header .property-name-dropdown select {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      font-size: 1rem;
      cursor: pointer; }

.nav-toggle {
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem; }
  .nav-toggle span {
    background-color: #4a4a4a;
    display: block;
    height: 1px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    top: 50%;
    transition: none 86ms ease-out;
    transition-property: background, left, opacity, transform;
    width: 15px; }
    .nav-toggle span:nth-child(1) {
      margin-top: -6px; }
    .nav-toggle span:nth-child(2) {
      margin-top: -1px; }
    .nav-toggle span:nth-child(3) {
      margin-top: 4px; }
  .nav-toggle:hover {
    background-color: whitesmoke; }
  .nav-toggle.is-active span {
    background-color: #b1a33e; }
    .nav-toggle.is-active span:nth-child(1) {
      margin-left: -5px;
      transform: rotate(45deg);
      transform-origin: left top; }
    .nav-toggle.is-active span:nth-child(2) {
      opacity: 0; }
    .nav-toggle.is-active span:nth-child(3) {
      margin-left: -5px;
      transform: rotate(-45deg);
      transform-origin: left bottom; }
  @media screen and (min-width: 769px), print {
    .nav-toggle {
      display: none; } }

.nav-item {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5;
  padding: 0.5rem 0.75rem; }
  .nav-item a {
    flex-grow: 1;
    flex-shrink: 0; }
  .nav-item img {
    max-height: 1.75rem; }
  .nav-item .tag:first-child:not(:last-child) {
    margin-right: 0.5rem; }
  .nav-item .tag:last-child:not(:first-child) {
    margin-left: 0.5rem; }
  @media screen and (max-width: 768px) {
    .nav-item {
      justify-content: flex-start; } }

.nav-item a,
a.nav-item {
  color: #7a7a7a; }
  .nav-item a:hover,
  a.nav-item:hover {
    color: #363636; }
  .nav-item a.is-active,
  a.nav-item.is-active {
    color: #363636; }
  .nav-item a.is-tab,
  a.nav-item.is-tab {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    padding-bottom: calc(0.75rem - 1px);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: calc(0.75rem - 1px); }
    .nav-item a.is-tab:hover,
    a.nav-item.is-tab:hover {
      border-bottom-color: #b1a33e;
      border-top-color: transparent; }
    .nav-item a.is-tab.is-active,
    a.nav-item.is-tab.is-active {
      border-bottom: 3px solid #b1a33e;
      color: #b1a33e;
      padding-bottom: calc(0.75rem - 3px); }
  @media screen and (min-width: 1000px) {
    .nav-item a.is-brand,
    a.nav-item.is-brand {
      padding-left: 0; } }

.nav-left,
.nav-right {
  -webkit-overflow-scrolling: touch;
  align-items: stretch;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 100%;
  overflow: auto; }
  @media screen and (min-width: 1192px) {
    .nav-left,
    .nav-right {
      flex-basis: 0; } }

.nav-left {
  justify-content: flex-start;
  white-space: nowrap; }

.nav-right {
  justify-content: flex-end; }

.nav-center {
  align-items: stretch;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  margin-left: auto;
  margin-right: auto; }

@media screen and (max-width: 768px) {
  .nav-menu.nav-right {
    background-color: white;
    box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);
    left: 0;
    display: none;
    right: 0;
    top: 100%;
    position: absolute; }
    .nav-menu.nav-right .nav-item {
      border-top: 1px solid rgba(219, 219, 219, 0.5);
      padding: 0.75rem; }
    .nav-menu.nav-right.is-active {
      display: block; } }


.nav {
  align-items: stretch;
  background-color: white;
  display: flex;
  height: 3.25rem;
  position: relative;
  text-align: center;
  z-index: 10; }
.nav > .container {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%; }
.nav.has-shadow {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1); }


#contentArea {
  position: absolute;
  top: 50px;
  left: 100px;
  right: 0;
  bottom: 20px;
  background: #fff url("../assets/img/squairy_light.png");
  overflow: auto;
  text-shadow: 0 0.0625rem 0 white; }
  #contentArea .page-title {
    box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1), 0 0 0 0.0625rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.875rem 0.625rem 1.875rem;
    background: #fff; }
    #contentArea .page-title .column {
      position: relative; }
    #contentArea .page-title .title {
      font-size: 1.5625rem; }
      #contentArea .page-title .title .icon {
        line-height: 1.75rem; }
    #contentArea .page-title .title, #contentArea .page-title .subtitle {
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden; }
    #contentArea .page-title .tabbar {
      position: absolute;
      right: 0.625rem;
      bottom: -0.1875rem;
      width: 100%; }
      #contentArea .page-title .tabbar .tabs {
        overflow: hidden; }
        #contentArea .page-title .tabbar .tabs ul {
          border-bottom: none; }
          #contentArea .page-title .tabbar .tabs ul a:hover {
            background: transparent; }
          #contentArea .page-title .tabbar .tabs ul li.is-active a {
            background: #fff url("../images/squairy_light.png"); }
          #contentArea .page-title .tabbar .tabs ul li.more-link a {
            color: #b1a33e;
            padding-right: 0 !important; }
            #contentArea .page-title .tabbar .tabs ul li.more-link a .icon {
              margin-right: 0; }
          #contentArea .page-title .tabbar .tabs ul li.more-link.is-active a {
            background: whitesmoke; }
      #contentArea .page-title .tabbar.is-fullwidth {
        position: relative;
        right: auto;
        bottom: -0.875rem;
        /*margin-top: -1.25rem;*/ }
      #contentArea .page-title .tabbar .overflow-tabs {
        top: 2rem; }
        #contentArea .page-title .tabbar .overflow-tabs a {
          padding: 0.625rem 1.25rem; }
  #contentArea .page-content .inner-content {
    padding: 1.25rem 1.875rem; }

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: whitesmoke;
  padding: 0.1875rem 1.25rem;
  font-size: 0.8rem; }
  #footer .desc {
    color: #b5b5b5; }
  #footer img {
    max-width: none;
    max-height: 9px; }
